<template>
<div>
  <div class="container">
      <div class="img-container" 
        v-for="i in gridSize" 
        :key="i" 
        @mouseenter="currentHover = i"
        @mouseleave="currentHover = -1"
      >
          <div>
        <div 
        class="img-overlay-container"
        :class="{ 
            'isActive': imageGrid[i] && imageGrid[i].isActive, 
            'img-overlay': firstSelection >-1  && firstSelection <= i && i <= currentHover, 
            'selection isActive': imageGrid[i] && (imageGrid[i].isStart || imageGrid[i].isEnd)
            }" >
            <button 
                v-if="imageGrid[i] && !imageGrid[i].isActive && firstSelection < 0 && currentHover === i" 
                @click="itemSelected(i)"
            >
                Start Marking</button>
            <button 
                v-if="imageGrid[i] && !imageGrid[i].isActive && firstSelection > -1 && currentHover === i && i > firstSelection" 
                @click="itemSelected(i)"
            >End Marking</button>
        </div>
        <img class src="../assets/logo.png" />
    </div>
    </div>
  </div>
    <button class="submit" @click="performSubmit()">Submit</button>
  </div>
</template>

<script>
// import GridElement from './GridElement'
export default {
    name:"GridContainer",
    data(){
        return{
            imageGrid: [],
            gridSize: 35,
            selectedGrids: [],
            firstSelection: -1,
            secondSelection: -1,
            currentHover: -1
        }
    },
    created(){
        for(let i=1; i <= this.gridSize; i++){
            this.imageGrid[i] = {
                isStart: false,
                isEnd: false,
                isActive: false
            }
        }
    },
    methods:{
        itemSelected(idx){
            if(this.firstSelection < 0){
                this.firstSelection = idx;
                this.secondSelection = -1
                this.imageGrid[idx].isStart = true
            }
            else if(this.secondSelection < 0 && this.firstSelection <= idx){
                this.secondSelection = idx;
                this.imageGrid[idx].isEnd = true;
                this.selectedGrids[this.selectedGrids.length] = {
                    start: this.firstSelection,
                    end: this.secondSelection,
                }
                this.markActive(this.firstSelection, this.secondSelection)
                this.firstSelection = -1;
            }
        },
        markActive(startIndex, endIndex){
            this.imageGrid.map((val,index) => {
                if(startIndex <= index && index <= endIndex ){
                    val.isActive = true;
                }
            });
        },
        performSubmit(){
            console.log(this.selectedGrids);
        }
    }
}
</script>

<style>
.img-container img{
     box-shadow: 0 0 8px 0 #55555555;
     border-radius: 10px;
 }
 .container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .img-container{
     position: relative;
     margin: 0.5rem;
 }
 .img-overlay, .isActive{
     z-index: 5;
     background-color: #55555566;
     border-radius: 10px;
 }
 .selection{
     border: 2px solid #555;
 }
 .img-overlay-container{
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
 }
 .img-overlay-container button{
     margin: auto;
     border: none;
     background-color: rgb(0, 127, 200);
     color: white;
     padding: 0.5rem 1rem;
     border-radius: 10px;;
 }
 .submit{
     margin: auto;
     border: none;
     font-size: 2rem;
     background-color: rgb(16, 127, 192);
     color: white;
     padding: 1rem 1rem;
     border-radius: 10px;;
 }
</style>